
<h1>Productos en Tiempo Real</h1>

<div id="divPro" >

</div>

<form id="product-form" method="POST" action="/api/products">
    <input type="text" id="titleP" placeholder="Título">
    <input type="text" id="codeP" placeholder="Código">
    <input type="number" id="priceP" placeholder="Precio">
    <input type="number" id="stockP" placeholder="Stock">
    <input type="text" id="descriptionP" placeholder="Descripción">
    <button type="submit" value="submit" class="btn btn-primary">Agregar Producto</button>
</form>


<form id="delete-form" method="delete" action="/api/products/:pid" > 
    <input type="number" id="idProd" placeholder="Colocar id que se quiere borrar">
    <button type="submit" value="submit">Eliminar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>