<article>
  <form action="/api/recovery-password" method="POST">
    <header>
      <h1>Recuperar Contraseña</h1>
    </header>
    <input type="password" name="newPassword" placeholder="Contraseña" required />
    <input type="hidden" name="email" value="{{email}}" /> <!-- Asegúrate de incluir el campo de email -->
    <footer>
      <input type="submit" value="Enviar">
    </footer>
  </form>
</article>
