    <article>
  <form action="/api/send-recovery-password" method="POST">
    <header>
      <h1>Recuperar Contraseña</h1>
    </header>
    <input type="email" name="email" placeholder="Email" required />
    <footer>
      <input type="submit" value="Enviar">
    </footer>
  </form>
</article>