<h1>Ticket de Compra</h1>

<table id="main" role="grid">
  <tr>
    <th>Código</th>
    <th>Fecha de Ticket</th>
    <th>Comprador</th>
    <th>Monto Total</th>
  </tr>
  
  <tr>
    <td>{{code}}</td>
    <td>{{purchase_datetime}}</td>
    <td>{{purchaser}}</td>
    <td>{{amount}}</td>
  </tr>
</table>